
[data-theme="dark"] {
    $bg-color: black !global;
    $text-color: white !global;
    $text-color-neon: #ff2483 !global;
    $shadow-color: #ccc !global;
    $shadow-active-color: pink !global;
}


// [data-theme="light"] {
//     $bg-color: grey;
// }